@model List<BookExchangePlatform.Models.Book>

<h1>Books</h1>

<p>
    <a asp-action="Create" class="btn btn-primary btn-outline-info">Create New</a>
</p>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Owner</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.Genre</td>
                <td>@(book.Owner.FullName)</td>
                <td>
                    <a asp-action="Details" asp-route-id="@book.Id" class="btn btn-info">Details</a>
                </td>
              
            </tr>
        }
    </tbody>
</table>

@if (!Model.Any())
{
    <div class="alert alert-info">
        No books found. <a asp-action="Create">Create the first book</a>
    </div>
}